<h2>Log in</h2>
<Form action="/login" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="enter username">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="enter password">
    <button type="submit">Login</button>
</Form>

<br>
<a href="/register">register a user</a>