<h2>Register New User</h2>

<form action="/register" method="POST">
    <label for="username">Create Username</label>
    <input type="text" name="username" required>
    <br>
    <label for="password">Enter Password</label>
    <input type="password" name="password" required>
    <br>
    <label for="password2">Re-Enter Password</label>
    <input type="password" name="password2" required>
    <br>
    <label for="email">Enter Email</label>
    <input type="text" name="email" required>
    <br>
    <button type="submit">Register</button>
</form>

<a href="/login">Back to Login</a>